html {
    cursor: url(../img/circle-cursor.png), auto;
}
.body-content {
    background-image: linear-gradient(#8D44AD, #C1392B);
}
article {
    font-family: Butler;
    font-size: 5vw;
}
.about-me {
    display: flex;
    align-items: flex-start;
    padding: 0 3vw;
}
.intro-text {
    font-family: Copperplate, Copperplate Gothic Light, fantasy; 
    width: 80%;
    color: white;
    text-shadow: -8px 6px 10px rgba(0, 0, 0, 0.75);
}
.intro-text h1{
    font-size: 5vw;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0.5em;   
}
.intro-text h2{
    font-size: 3vw;
}
.img-envelope {
    display: inline-block;
    position: relative;
    will-change: transform;
    transition: all 800ms cubic-bezier(0.03, 0.98, 0.52, 1) 0s;
    box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgba(0,0,0,.13);
    background-image: linear-gradient(0deg,#ee0979 0,#ff6a00);
}
.img-envelope img{
    display: block;
    pointer-events: none;
    max-width: 100%;
    transition: all 800ms;
    -webkit-clip-path: inset(0px);
}
.img-envelope:nth-child(2) {
    margin-left: auto;
    margin-right: 4vw;
    margin-bottom: 10%;
}
.img-envelope:nth-child(3) {
    position: relative;
    top: -33rem;
    margin-right: auto;
}
.img-push {
    transition: all 800ms;
    pointer-events: none;
}
.topnav {
    margin-bottom: 5vw;
}