html {
    cursor: url(circle-cursor.png), auto;
}
body {
    background-image: linear-gradient(#8D44AD, #C1392B);
}
article {
    font-family: Butler;
    font-size: 5vw;
    width: 1vw;
}
.about-me {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 3vw;
}
.intro-text {
    font-family: Copperplate, Copperplate Gothic Light, fantasy; 
    width: 40%;
    text-shadow: -3px 6px 10px rgba(0, 0, 0, 0.75);
}
.intro-text h1{
    font-size: 5vw;
    -webkit-margin-after: 0.5em;   
}
.intro-text h2{
    font-size: 3vw;
}
.img-envelope {
    display: flex;
    position: relative;
    will-change: transform;
    transition: all 800ms cubic-bezier(0.03, 0.98, 0.52, 1) 0s;
    box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgba(0,0,0,.13);
    background-image: linear-gradient(0deg,#ee0979 0,#ff6a00);

    flex-grow: 0;
}
.img-envelope:nth-child(2) {
    margin-left: auto;
}
.img-envelope:nth-child(3) {
    position: relative;
    top: -19rem;
    margin-right: auto;
}
.img-envelope img{
    display: block;
    pointer-events: none;
    max-width: 100%;
    -webkit-clip-path: inset(1vw);
}
.img-push {
    transition: all 800ms;
    pointer-events: none;
}
@media (max-width: 1670px){
    .about-me {
        flex-direction: column;
        align-items: center;
    }
    .img-envelope {
        position: unset!important;
        margin: 0!important;
    }
    .img-envelope:nth-child(3) {
        order: 4;
    }
}