html {
    cursor: url(circle-cursor.png), auto;
}
article {
    width: 1vw;
}
.photos-wrapper {
}
.img-envelope {
    display: block;
    float: left;
    margin: 1vw;
    will-change: transform;
    transition: all 800ms cubic-bezier(0.03, 0.98, 0.52, 1) 0s;
    box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgba(0,0,0,.13);
    background-image: linear-gradient(0deg,#ee0979 0,#ff6a00);
}
.img-envelope img{
    display: block;
    pointer-events: none;
}
.img-push {
    transition: all 800ms;
    pointer-events: none;
}