
.body-content {
    background-color: #8AC646;
}
.editor {
    padding: 2vw;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.side-panel {
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    width: 15vw;
}
.side-panel__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    background-color: purple;
    border-radius: 10px;
}
.main-panel {
    display: block;
    width: 100%;
    padding: 0 2vw;
}
.side-panel__link {
    text-decoration: none;
    color: white;
}
.side-panel__tab-name {
    font-size: 3vw;
}
.files {
    list-style: none;
    padding-inline-start: 3vw;
    margin-block-start: 0;
    margin-block-end: 0;
}
.topic {
    color: white;
    opacity: 1;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 3vw;
    background-color: rgb(212, 147, 61);
    padding: 2vw;
}
.topic_marg {
    margin-bottom: 2vw;
}
h1, h2, h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
}
h1 {
    font-size: 5vw;
}
h3 {
    font-size: 2vw;
}